<header>
  <nav class="header-nav">
    <a href="/" class="header-title">Gym Gym</a>
    <ul>
      <li><a href="/member/new">Add new</a></li>
      <li><a href="/fitass/">Pass</a></li>
      <li><a href="/notes">Notes</a></li>
    </ul>
  </nav>
</header>
